@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1000px;
    margin: 60px auto;
    /* outline: 1px solid red; */
    padding: 50px;
}
.card{
    /* outline: 1px solid green; */
    position: relative;
    margin:100px 300px;
    /* overflow: hidden; */
}
.text{
    /* outline:1px solid red; */
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    height:500px;
    position: absolute;
    left:30%;
    top:10%;
}
.title{
    font-weight: 400;
    color:#f8c461;
    font-size: 35px;
}
.subtitle{
    font-weight: 600;
    color:#232323;
    font-size: 60px;
    padding-bottom: 20px;
}
.discount{
    border:1px solid #232323;
    padding: 10px 50px;
}
.shop{
    background:#f8c461;
    padding:10px 20px;
    margin:30px;
    box-shadow: .5px 3px 5px #afafaf;
    transition: .5s;
}
.shop:hover{
    background: rgba(17, 8, 7, 1);
    color:rgb(255, 226, 245);
}
.card .picture-switches{
    /* outline:1px solid red; */
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    position: absolute;
    left:50%;
    bottom:0;
}
.picture-switches .picture1,
.picture-switches .picture2{
    width: 15px;
    height: 15px;
    font-size: 24px;
    background: rgba(17, 8, 7, 1);
    color:rgb(255, 226, 245);
    position:absolute;
    transform: translate(50%);

}
.picture-switches .picture2{
    transform: translate(-70%,0);
    background: rgb(250, 153, 74);
}
.card img{
    width:100%;
    display:block;
    height: 100%;
}
a{
    text-decoration: none;
    color:inherit;
}
.prev,
.next{
    width: 1.2em;
    height: 2em;
    font-size: 24px;
    background: rgba(17, 8, 7, 1);
    color:rgb(255, 232, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    transform: translate(0,-50%);
    position:absolute;
    transition: .3s;
    opacity:0;
}
.next{
    right:0;
}
.prev:hover,
.next:hover{
    background: rgb(250, 153, 74);
}
.card:hover .prev,
.card:hover .next{
    opacity:1;
}