@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 60px auto;
    /* outline: 1px solid red; */
    padding: 50px;
}
.card{
    /* outline: 1px solid green; */
    position: relative;
    margin:200px;
    /* overflow: hidden; */
}
.card .picture-switches{
    /* outline:1px solid red; */
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    position: absolute;
    left:50%;
    bottom:0;
}
.picture-switches .picture1,
.picture-switches .picture2{
    width: 20px;
    height: 20px;
    font-size: 24px;
    background: rgba(17, 8, 7, 1);
    color:rgb(255, 226, 245);
    position:absolute;
    transform: translate(50%);

}
.picture-switches .picture2{
    transform: translate(-70%,0);
    background: rgb(250, 153, 74);
}
.card img{
    width:100%;
    display:block;
    height: 100%;
}
a{
    text-decoration: none;
    color:inherit;
}
.prev,
.next{
    width: 1.2em;
    height: 2em;
    font-size: 24px;
    background: rgba(17, 8, 7, 0.5);
    color:rgb(255, 232, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    transform: translate(0,-50%);
    position:absolute;
    transition: .3s;
    opacity:0;
}
.next{
    right:0;
}
.prev:hover,
.next:hover{
    background: rgb(250, 153, 74);
}
.card:hover .prev,
.card:hover .next{
    opacity:1;
}